include ../profile-item/profile-item

form.profile
  .profile__header
    .profile__img
      
  .profile__main
    +profileItem('Старый пароль')
      | !{oldPassword}
    +profileItem('Новый пароль')
      | !{newPassword}
    +profileItem('Повторите новый пароль')
      | !{newPasswordRepeat}
  .profile__footer
      | !{saveButton}
      | !{escLink}
