form.form.form--signin(
  data-url=url
  data-method=method
  )
  .form__body
    .form__row
      | !{login}
    .form__row
      | !{password}
  .form__footer
    .form__row
      | !{button}
    .form__row
      | !{link}
