- var autocomplete = autocomplete ? autocomplete : 'off'

input.input(
    id= id
    class= classes
    type= type
    name= name
    placeholder= placeholder
    value= value
    required= required
    minlength = minlength
    maxlength = maxlength
    pattern = pattern
    autocomplete = autocomplete
  )
