mixin chatListItem(data)
  button(
    type="button"
    name="chat"
    id= data.id
    class=data.active ? 'chat-list__item chat-list__item--active' : 'chat-list__item'
  )
    .chat-list__item-img
    .chat-list__item-main
      .chat-list__item-title= data.title
      if data.last_message
        .chat-list__item-preview= data.last_message.content
    .chat-list__item-info
      if data.last_message
        .chat-list__item-date= data.last_message.time
      if data.unread_count
        .chat-list__item-counter
          span= data.unread_count
