form.form(
  data-url=url
  data-method=method
)
  .form__body
    .form__row
      | !{email}
    .form__row
      | !{login}
    .form__row
      | !{firstName}
    .form__row
      | !{secondName}
    .form__row
      | !{phone}
    .form__row
      | !{password}
    .form__row
      | !{passwordCheck}
  .form__footer
    .form__row
      | !{button}
    .form__row
      | !{link}
